.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 260px;
  background-color: #ddd;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 25px;
  transform: translate(-50%, -300%);
  transition: transform 0.5s ease;
}

.Modal p {
  margin: 0;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}

.Modal input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}

.Modal.Active {
  transform: translate(-50%, -50%);
}

.Btns {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.Btns button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  flex: 1;
  font-size: 18px;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 12px;
  outline: 0;
}

.Btns button:first-of-type {
  border-radius: 0 0 0 8px;
  background-color: #3e66ee;
}

.Btns button:last-of-type {
  border-radius: 0 0 8px 0;
  background-color: rgb(233, 80, 80);
}

.Btns button:hover {
  filter: brightness(80%);
}